.footer {
  @include flex(column, center, center, center);
  background-color: #000000;
  padding-top: 38px;
  padding-bottom: 47px;
  padding-right: 50px;
  padding-left: 50px;

  &__title {
    color: #FEFEFE;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;

    &:before {
      content: '- ';
    }

    &:after {
      content: ' -';
    }
  }

  &__description {
    color: #B9B9B9;
    line-height: 20px;
    font-size: 12px;
    margin-bottom: 25px;
  }

  &__icons {
    @include flex(row, center, center);
    margin-bottom: 25px;

    &-item {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;


    &-text {
      text-decoration: none;
      color: #B9B9B9;
      font-size: 14px;
      &:not(:last-child) {
        margin-bottom: 24px;
        &:after {
          content: '/';
          margin-right: 10px;
          margin-left: 10px;
        }

      }
    }

  }
}