.gallery {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    .gallery__img {
      width: 100%;
    }
  }

  &__list {

  }

  &__item {
    margin-top: 28px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__img {

  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 14px;
    color: #4e4e4e;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 7px;
  }

  &__sign {
    &-wrap {
      display: flex;
      flex-direction: row;
    }
    font-size: 11px;
    color: #7C7C7C;

    &:not(:last-child) {
      &:after {
        content: '/';
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  &:last-child {
    &__img {
      width: 100%;
    }
  }

  &__article {
    display: none;
    font-size: 14px;
    color: #5C5C5C;
    line-height: 26px;
    margin-top: 15px;
  }
}