.hero {
  overflow: hidden;
  &-nav {
    position: relative;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 40px 6%;


    &__link {
      font-size: 11px;
      line-height: 22px;
      text-transform: uppercase;
      text-decoration: none;
      color: #333;

      &:hover {
        color: #57A4A4;
      }
    }
  }

  &__img {
    width: 100%;
  }
}

.burger-nav {
  display: flex;
  justify-content: flex-end;
  margin: 23px 0;



  &--wrapper {
    @include flexRowBtw;
    position: relative;
    flex-direction: column;
    width: 44px;
    height: 37px;
    padding: 13px;
    background-color: #000;
    box-sizing: border-box;
    &:hover > .burger-nav__dropdown{
      //display: flex;
      transform: translateX(0px);
    }

    &:hover {
      .burger-nav__line {
        &:nth-child(1) {
          transform: translate(0px, 4px) rotate(45deg);
        }
        &:nth-child(2) {
          transform: translate(50px, 0px);
        }
        &:nth-child(3) {
          transform: translate(0px, -5px) rotate(-45deg);
        }
      }
    }

  }
  &__line {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: 0.3s transform;
  }



  &__dropdown {
    display: flex;
    transform: translateX(10000px);
    flex-direction: column;
    position: absolute;
    top: 37px;
    right: 0;
    transition: 0.3s transform;

    &-item {
      width: 180px;
      text-transform: uppercase;
      font-size: 11px;
      color: #4e4e4e;
      letter-spacing: 1.1px;
      text-decoration: none;
      padding: 10px 13px;
      background-color: #f5f5f5;
      z-index: 1;
      
      &:hover {
        background-color: #e5e5e5;
        color: #57A4A4;
        transform: scale(1.05);
      }
    }
  }
}