.product {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  border: 1px solid #3d3d3d;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  position: relative;
  color: #3d3d3d;

   &-description {
     align-self: start;
  }

  &-button {
    margin-top: 15px;
    background-color: darksalmon;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: #fff;
    outline: none;
    transition: .2s ease;

    &:hover {
      background-color: salmon;
      box-shadow: 0 6px 20px 0 gray;
    }
  }

  &-remove {
    border: none;
    background-color: transparent;
    outline: none;
    position: absolute;
    top: 10px;
    right: 55px;
  }
}

.flex {
  display: inline-flex
}

.img {
  height: 150px
}