.modalWrapper {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000
};

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 1px solid darkgrey;
  z-index: 1001
};

.header {
  display: flex;
  background-color: darkgrey;
  justify-content: space-between;
  padding: 3px 20px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px
};

.modalBody {
  padding: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px
};

.modalText {
  color: #3d3d3d
};

.modalFooter {
  display: flex;
  justify-content: center;
  padding: 5px
}