.nav {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.nav-item {
  text-decoration: none;
  text-transform: uppercase;
  color: #3d3d3d;
  font-size: 18px;
}