@mixin flexRowBtw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex ($fd: 'row', $jc: 'initial', $ai: 'initial', $ta: 'rigth') {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  text-align: $ta;
}