@import "reset";
@import "mixins";


* {
  font-family: sans-serif;
}

.container {
  padding: 0 28px;
  margin: 0 auto;
}

.main__text {
  display: flex;
  justify-content: space-between;
  &-title {
    font-size: 14px;
    color: #4E4E4E;
    font-weight: bold;
    text-transform: uppercase;
    &:before {
      content: '- ';
    }
  }

  &-smtitle {
    display: none;
    font-size: 13px;
    color: #4E4E4E;
    font-weight: bold;
    text-transform: uppercase;
    &:after {
      content: ' -';
    }
  }
}

@import "sections/all";
@import "media/all-media";