.parent {
  display: flex;
}

.products {
  display: inline-flex;
  width: 80vw;
}

.form {
  display: inline-flex;
  justify-content: center;
  width: 20vw;
  height: 100%;

  &-button {
    justify-self: center;
    padding: 10px 20px;
    margin-top: 15px;
    margin-left: 20%;
    background-color: azure;
    border: 1px solid cornflowerblue;
    border-radius: 4px;
    color: #3d3d3d;
    transition: .2s ease;

    &:hover {
      box-shadow: 0 5px 5px 0 gray;
      transform: translateY(-5px) scale(1.1);
    }
  }
}