@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    .container {
      padding: 0;
      margin: 0;
    }
  }
  .gallery {
    .container {
      margin: 0;
    }

    &__text {
      margin-top: 10px;
    }

    &__item {
      &:nth-child(4) {
        display: none;
      }
    }

    &__wrap {
      .gallery__item {
        &:not(:first-child) {
          display: none;
        }
      }
    }

  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding: 0 80px;
  }

  .hero {
    &-nav {
      display: flex;
    }

  }

  .burger-nav {
    display: none;
  }

  .gallery {

    &:not(:first-child) {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &__item {
      display: flex;
      margin-bottom: 30px;
    }

    &__sign-wrap {
      margin-top: 10px;
    }

    &__text {
      margin-left: 20px;
      width: 400px;
    }

    &__article {
      display: inline-block;
    }

    &__wrap {
      .gallery__item {
        &:last-child {
          display: none;
        }

        &:nth-child(3) {
          margin-right: 0;
        }
      }
    }
  }
  .main__text {
    &-smtitle {
      display: inline-block;
    }
  }

  .footer {
    padding-top: 55px;
    padding-bottom: 55px;
    &__contacts {
      flex-direction: row;
      justify-content: center;
    }
    &__description {
      text-indent: -9999px;
      line-height: 0;

      &:after {
        content: "Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.";
        text-indent: 0;
        display: block;
        line-height: 26px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding: 0 160px;
  }

  .hero-nav {
    display: flex;
    padding: 45px 7%;
  }

  .burger-nav {
    display: none;
  }

  .gallery {
    &:not(:first-child) {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 1fr 1fr;
    }

    &__item {
      display: flex;
      margin-bottom: 30px;
    }

    &__sign-wrap {
      margin-top: 10px;
    }

    &__text {
      margin-left: 20px;
    }

    &__article {
      display: inline-block;
    }
  }

  .main__text {
    &-smtitle {
      display: inline-block;
    }
  }

  .footer {
    padding-top: 65px;
    padding-bottom: 65px;
    &__contacts {
      flex-direction: row;
      justify-content: center;
    }
    &__description {
      text-indent: -9999px;
      line-height: 0;

      &:after {
        content: "Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.";
        text-indent: 0;
        display: block;
        line-height: 26px;
      }
    }
  }
}